In [1]:
def binary_arrays(n):
    if n == 1:
        return [[True], [False]]
    A = []
    for a in binary_arrays(n- 1):
        a = [True] + a
        A.append(a)
    for a in binary_arrays(n- 1):
        a = [False] + a
        A.append(a)
    return A

binary_arrays(2)

[[True, True], [True, False], [False, True], [False, False]]

In [2]:
from sympy import * 
p, q, r = symbols('p q r')
P = p >> (not q  & r) | False

In [5]:
for p_, q_, r_ in binary_arrays(3):
    print(p_, q_, r_, P.subs({p: p_, q: q_, r: r_}))

True True True False
True True False False
True False True False
True False False False
False True True True
False True False True
False False True True
False False False True

   p  q  r  p => (~q and r) or False
1  1  1  1                         0
2  1  1  0                         0
3  1  0  1                         1
4  1  0  0                         0
5  0  1  1                         1
6  0  1  0                         1
7  0  0  1                         1
8  0  0  0                         1